## Python DataStructures

1. Logical operators
2. Comparison Operators
3. Strings
4. Lists
5. Tuples
6. Sets
7. Dictionaries

## Logical operators

In [1]:
# If both the operands are true then the condition becomes true.
True and True

True

In [2]:
# If both the operands are not true then the condition becomes false.
True and False

False

In [3]:
# If one of the operand is true then the condition becomes true.
True or True

True

In [4]:
# If one of the operand is true then the condition becomes true.
True or False

True

In [5]:
# String is always provided within quotes('')
var1 = 'Hello World!'
type(var1)

str

In [12]:
a = True
b = True
a != b

False

## Condional Operators

1. == -> checks if the value of a is equals to the value of b
2. != -> checks if the value of a is not equal to the value of b
3. > -> checks if the value of a is greater than the value of b
4. < -> checks if the value of a is lesser than the value of b
5. >= -> checks if the value of a is greater than or equals to the value of b
6. <= -> checks if the value of a is lesser than or equals to the value of b

## Strings

#### Slicing of Strings

In [6]:
mystr = "Hello World"
print(mystr[0])
print(mystr[-1])
print(mystr[1:7])
print(mystr[:-1])

H
d
ello W
Hello Worl

In [26]:
mystr = "Hello World"
print(mystr[:7])

Hello W

In [7]:
for i in mystr: # Hello World
    print(i)

H
e
l
l
o

W
o
r
l
d

In [8]:
len(mystr)

11

In [27]:
count = 0
for i in mystr:
    if i == 'o':
        count = count+1
print("count of 'o' in",mystr,"is", count)

count of 'o' in Hello World is 2

#### Split and Replace of Strings

In [10]:
mystr.split()

['Hello', 'World']

In [11]:
mystr.find("W")

6

In [29]:
str1 = mystr.replace("H","h")
str1

'hello World'

#### Reverse of Strings

In [31]:
mystr = "Hello World"
a = list(mystr)
reversed_list = a[::-1]
print(reversed_list)

str1 = reversed(mystr)
# print(str1)
print(list(str1))

['d', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

#### Sorting of Strings

In [33]:
sentnc = "The quick brown fox jumps over the lazy dog"
words = sentnc.split()
words.sort()
print(words)

['The', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

#### 'in' and "not" in a String

In [38]:
mystr = "Hello World"

print ( 'i' in mystr)

False

In [39]:
print ( 'i' not in mystr)

True

### Lists
Lists are collection of strings, integers oreven another list, enclosed within [].They have an index assigned to it. A list index always starts from 0

In [17]:
lst=[1,2,3]
print(type(lst))

<class 'list'>

#### Lists, having different set of values.

In [18]:
a=[1,2,3]
b=['one','two','three']
c=[1,2,'three',[5,6]]
print(a)
print(b)
print(c)

[1, 2, 3]
['one', 'two', 'three']
[1, 2, 'three', [5, 6]]

#### Accesing values in lists

In [19]:
print ("First element of list 'a': ", a[0])
print ("Elements from index 1 to 3 in list 'c': ", c[0:3]) # will always stop at n-1 position

First element of list 'a':  1
Elements from index 1 to 3 in list 'c':  [1, 2, 'three']

#### Insertion of values

In [20]:
a.insert(2,'three') # Inserts 'three' at 2nd index of list 'a'
print(a)

[1, 2, 'three', 3]

#### Deletion of values

In [21]:
del a[2] # Deleted the value at 2nd index in list 'a'
print("After deletion: ",a)

after_pop = a.pop(2) # Deleted the value at 2nd index in list 'a'
print("After pop: ",a)

After deletion:  [1, 2, 3]
After pop:  [1, 2]

#### Append/Extend two lists

In [22]:
lst1 = [5,6,7]
lst2 = ['five','six']
a.append(lst1) # Output will be a list in a list
print(a)
a=[1,2,3]
a.extend(lst2) # Output will be values will be added only
print(a)

[1, 2, [5, 6, 7]]
[1, 2, 3, 'five', 'six']

#### 'in' and "not" in a list

In [23]:
a=[1,2,3]
if 2 in a: # Checks if 2 as a value is present in list 'a'
    print('YES')

if 'two' not in a: # Checks if 'two' as a value not present in list 'a'
    print("That's right!")

YES
That's right!

#### Built-in functions

In [24]:
print("Length of list 'a' is", len(a))
print("Min value of list 'a' is", min(a))
print("Max value of list 'a' is", max(a))
tup=(1,3,4)
print("Convert tuple into a list", list(tup))

Length of list 'a' is 3
Min value of list 'a' is 1
Max value of list 'a' is 3
Convert tuple into a list [1, 3, 4]

#### Reverse list items

In [25]:
c=[1,2,'three',[5,6]]
a=[1,2,3]
c.reverse()
print("First way to reverse list:",c)
reverse_a = list(reversed(a))
print("Second way to reverse a list:",reverse_a)
print("original list 'a':",a)

# Uncomment the below lines to run it.
# c=[1,2,'three']
# d=c
# d.reverse() # Once list 'd' is reversed, it points to the list ['three', 2, 1]. Since List 'c' and 'd' point to the same list, 'c' will give the same result as of 'd'.
# print("Reversed list",d)
# print("original list",c)

First way to reverse list: [[5, 6], 'three', 2, 1]
Second way to reverse a list: [3, 2, 1]
original list 'a': [1, 2, 3]

#### Sorting list items

In [26]:
a=[3,1,2,3]
b=[3,1,2,3]
c=[3,1,2,'three']
b.sort()
print("First way to sort list:",b)
sort_lst_a = sorted(a)
print("First way to sort list 'a':",sort_lst_a)
print("original list:",a)

# Cannot sort combination of string and numbers. Uncomment the below lines to run it and check the error.
# sort_lst_c = sorted(c)
# print(sort_lst_c)

First way to sort list: [1, 2, 3, 3]
First way to sort list 'a': [1, 2, 3, 3]
original list: [3, 1, 2, 3]

#### Split a string

In [27]:
c='1,2,three'
ss=c.split()
print(ss)

['1,2,three']

#### Slicing a list

In [28]:
a = [1,2,3,'four','five',6]
print("value of 2nd index:",a[2]) # Starts from 0
print("Slice -3th element:",a[-3]) # Starts counting from right. First number from right has index -1
print("Slice values from 1st index:",a[1:]) # Shows output from 1st index till the end
print("Slice values from 0th index till (n-1):",a[0:3]) # Shows output from 0th index to (3-1)th index
print("Slice all values till (n-1):",a[:-1]) # Shows output from the 1st value till (n-1)
print("Slice only (n-1)th index:",a[-1:]) # Shows output from1st index till the end
print("Reverse the list:", a[::-1])
print("Start from 2nd index and print values with 2 steps", a[2::2])
print("Start from last item and print the reverse with a gap of 2", a[::-2])

value of 2nd index: 3
Slice -3th element: four
Slice values from 1st index: [2, 3, 'four', 'five', 6]
Slice values from 0th index till (n-1): [1, 2, 3]
Slice all values till (n-1): [1, 2, 3, 'four', 'five']
Slice only (n-1)th index: [6]
Reverse the list: [6, 'five', 'four', 3, 2, 1]
Start from 2nd index and print values with 2 steps [3, 'five']
Start from last item and print the reverse with a gap of 2 [6, 'four', 2]

#### List Operations

In [29]:
a=[1,2,3]
b=['one','two','three']
c=[1,2,'three',[5,6]]
d=[1,2,3,3,4,5,2,3,4]

print("1. Concatenation of list 'a' and 'b':",a+b)
print("2. Repetiotion of list 'a' for 4 times:",b*4)
print("3. Is the vaue 3 in list 'c'?",3 in c)
print("4. Sum of list 'a' is",sum(a))
print("5. Count of frequency of the value 3 in a list",d.count(3))
print("6. Each value in the list:")
for x in ['one','two','three']: # Print each value in a list by looping
    print(x)

1. Concatenation of list 'a' and 'b': [1, 2, 3, 'one', 'two', 'three']
2. Repetiotion of list 'a' for 4 times: ['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']
3. Is the vaue 3 in list 'c'? False
4. Sum of list 'a' is 6
5. Count of frequency of the value 3 in a list 3
6. Each value in the list:
one
two
three

#### List Comprehensions

In [30]:
#without list comprehension

mult = []
for i in range(10):
    if i > 0:
        mult.append(i*10)
print(mult)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
# with list comprehension

mult = [i*10 for i in range(10) if i > 0]
print(mult)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [32]:
# Examples:

new_var=[(i,i+1) for i in range(10)]
print(new_var)

new_var1=[(i) for i in range(20) if (i%5==0) and i>0]
print(new_var1)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 10)]
[5, 10, 15]

In [33]:
# Transpose of a matrix without list comprehension

matrix=[
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

transposed=[]
for i in range(4):
    print("We are going to take column",i+1)
    lst=[]
    for row in matrix: # row denotes to each list, i.e, a row in the matrix and iterates for 4 times
        # First iteration denotes to 0th column, row[i] is all the items of column 0, i.e., 1,5,9. 
        # Second iteration denotes to 1st col, row[i] is all the items of col1, i.e., 2,6,10, and so on
        # till the last iteration.        
        print("The row is",row,"we're adding", row[i],"to a temp list")
        
        lst.append(row[i])
    
    print("Now the",i,'th row has',lst)# Append all the row[i]s to the empty list 'lst' 
#     print(lst)
    transposed.append(lst)
print("Final transposed matrix is",transposed)

We are going to take column 1
The row is [1, 2, 3, 4] we're adding 1 to a temp list
The row is [5, 6, 7, 8] we're adding 5 to a temp list
The row is [9, 10, 11, 12] we're adding 9 to a temp list
Now the 0 th row has [1, 5, 9]
We are going to take column 2
The row is [1, 2, 3, 4] we're adding 2 to a temp list
The row is [5, 6, 7, 8] we're adding 6 to a temp list
The row is [9, 10, 11, 12] we're adding 10 to a temp list
Now the 1 th row has [2, 6, 10]
We are going to take column 3
The row is [1, 2, 3, 4] we're adding 3 to a temp list
The row is [5, 6, 7, 8] we're adding 7 to a temp list
The row is [9, 10, 11, 12] we're adding 11 to a temp list
Now the 2 th row has [3, 7, 11]
We are going to take column 4
The row is [1, 2, 3, 4] we're adding 4 to a temp list
The row is [5, 6, 7, 8] we're adding 8 to a temp list
The row is [9, 10, 11, 12] we're adding 12 to a temp list
Now the 3 th row has [4, 8, 12]
Final transposed matrix is [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [34]:
# With list comprehension

matrix=[
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
transposed=[[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## Tuples

Elements of a tuple change can't be changed unlike Lists

In [35]:
tup1 = (1,2,3,'four')
print(type(tup1))

<class 'tuple'>

#### Accesing values in tuples

In [36]:
tup1 = (1,2,3,'four')
tup2 =((1,"two",3),4,5,6,"seven")
print(tup1[1])
print(tup2[-1])
print(tup2[0][1]) # Print 1st index item of 0th element in the tuple

2
seven
two

#### Deletion of an item in a tuple

Use del tuple name to delete a tuple completely
We cannot delete or add an item in a tuple because it's immutable. To do so we need to change the tuple into a list.

#### Change a value in a tuple

In [37]:
# Only it is possible if there is a list in a tuple
tup2 =([1,"two",3],4,5,6,"seven")
tup2[0][2]="three"
print(tup2)

([1, 'two', 'three'], 4, 5, 6, 'seven')

In [38]:
## Uncomment and run the below commands to check the output
# tup1 =(1,2,3,4)
# tup2 = (4,5,6)
# print(tup1.append(tup2))
# print(tup1.insert(2,'three'))

In [39]:
tup1 =(1,2,3,4)
tup2 =([1,"two",3],4,5,6,"seven")
print("Length of list 'tup2' is", len(tup2))
print("Min value of list 'tup1' is", min(tup1))
print("Max value of list 'tup1' is", max(tup1))
lst=[1,3,4]
print("Convert list into a tuple", tuple(lst))

Length of list 'tup2' is 5
Min value of list 'tup1' is 1
Max value of list 'tup1' is 4
Convert list into a tuple (1, 3, 4)

#### 'in' and 'not in' in a tuple

In [40]:
a=(1,2,3)
if 2 in a: # Checks if 2 as a value is present in list 'a'
    print('YES')

if 'two' not in a: # Checks if 'two' as a value not present in list 'a'
    print("That's right!")

YES
That's right!

#### Slicing a tuple

In [41]:
a = (1,2,3,'four','five',6)
print("value of 2nd index:",a[2]) # Starts from 0
print("Slice -3th element:",a[-3]) # Starts counting from right. First number from right has index -1
print("Slice values from 1st index:",a[1:]) # Shows output from 1st index till the end
print("Slice values from 0th index till (n-1):",a[0:3]) # Shows output from 0th index to (3-1)th index
print("Slice all values till (n-1):",a[:-1]) # Shows output from the 1st value till (n-1)
print("Slice only (n-1)th index:",a[-1:]) # Shows output from1st index till the end
print("Reverse the list:", a[::-1])
print("Start from 2nd index and print values with 2 steps", a[2::2])
print("Start from last item and print the reverse with a gap of 2", a[::-2])

value of 2nd index: 3
Slice -3th element: four
Slice values from 1st index: (2, 3, 'four', 'five', 6)
Slice values from 0th index till (n-1): (1, 2, 3)
Slice all values till (n-1): (1, 2, 3, 'four', 'five')
Slice only (n-1)th index: (6,)
Reverse the list: (6, 'five', 'four', 3, 2, 1)
Start from 2nd index and print values with 2 steps (3, 'five')
Start from last item and print the reverse with a gap of 2 (6, 'four', 2)

## Sets

In [42]:
set1={1,2,3}
print(type(set1))

<class 'set'>

#### Accesing values in sets

In [43]:
set1 = {2,5,3,4,2,6,3,7,1,5}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [44]:
## Uncomment and run the below commands to check the output
# set1 = {3,6,8}
# print(set1[1])

#### Insertion of values

In [45]:
set1 = {1,2,3}
set1.add(4)
set1

{1, 2, 3, 4}

In [46]:
set1 = {1,2,3}
set2 = {3,5,6}
set2.difference(set1)

{5, 6}

In [47]:
set1 = {1,2,3}
set1.update([4,5],{6,7})
set1

## Uncomment and run the below command to check the output
# set1 = {1,2,3}
# set1.update([4,5],{6,7},8)
# set1

{1, 2, 3, 4, 5, 6, 7}

#### Deletion of values

In [48]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

set1.discard(4)
print("After discard: ",set1)
set2.remove(7)
print("After remove: ",set2)
set1.pop()
print("After pop: ",set1)

## Uncomment and run the below commands to check the output

# set1.pop(2)
# print("After pop: ",set1)


# del set1(2)
# print("After delete: ",set1)

After discard:  {1, 2, 3}
After remove:  {8, 5, 6}
After pop:  {2, 3}

#### 'in' and 'not in' in a Set

In [49]:
x = {1,2,3,4}

print(1 in x)
print(2 not in x)

True
False

#### Set operations

In [50]:
# Union : All the elements of Set A and Set B

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1 | set2) #OR
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
# Intersection : Common elements of Set A and Set B

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1 & set2) #OR
print(set1.intersection(set2))

{4, 5}
{4, 5}

In [52]:
# Disjoint sets: No elements are in common

set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [53]:
# Subset: If Set A is contained in Set B then Set A is subset of Set B or viceversa

set1 = {1,2,3}
set2 = {1,2}
print(set2.issubset(set1))
print(set1.issubset(set2))

True
False

In [54]:
# Supersetset: If Set A contains all the values of Set B then Set A is superset of Set B or viceversa

set1 = {1,2,3}
set2 = {1,2}
print(set2.issuperset(set1))
print(set1.issuperset(set2))

False
True

In [55]:
# Use frozen set as Dict keys
x = frozenset({1})
y = frozenset({2})
d = {x: 'foo', y: 'bar'}
d

{frozenset({1}): 'foo', frozenset({2}): 'bar'}

#### Conversion

In [56]:
set1 = set([1,2,3,4,3,8,2,3,8])
print("List to Set: ",set1)

set2 = set(('a', 'b', 'c', 'a', 'b'))
print("Tuple to Set is unordered: ",set2)

x = {42, 'str', (1, 2, 3), 7.8}
print("Define set with string and tuple: ",x)

## Uncomment and run the below commands to check the output

# x = {42, 'str', [1, 2, 3], 7.8}
# print("Define set with string and list: ",x)

List to Set:  {1, 2, 3, 4, 8}
Tuple to Set is unordered:  {'b', 'c', 'a'}
Define set with string and tuple:  {42, (1, 2, 3), 'str', 7.8}

## Dictionaries

In [57]:
dict1={1: 'firstval', 2: 'secondval'}
print(type(dict1))

<class 'dict'>

In [58]:
dict1 = dict()
dict1=dict([(1,'firstval'), (2,'secondval')])
print(dict1)

{1: 'firstval', 2: 'secondval'}

#### Accesing values in dicts

In [59]:
dict1 = {'superhero-1':'Batman','superhero-2':'Superman','superhero-3':'WonderWoman','superhero-4':'IronMan'}

print("Only Keys: ")
for x in dict1.keys():
    print(x)

print("\nOnly Values: ")
for x in dict1.values():
    print(x)

print("\nBoth Keys and Values: ")
for x in dict1.items():
    print(x)

Only Keys:
superhero-1
superhero-2
superhero-3
superhero-4

Only Values:
Batman
Superman
WonderWoman
IronMan

Both Keys and Values:
('superhero-1', 'Batman')
('superhero-2', 'Superman')
('superhero-3', 'WonderWoman')
('superhero-4', 'IronMan')

In [60]:
print(dict1['superhero-1'])

Batman

In [61]:
print(dict1.get('superhero-4'))

IronMan

#### Insertion of values

In [62]:
dict1 = {'superhero-1':'Batman','superhero-2':'Superman','superhero-3':'WonderWoman','superhero-4':'IronMan'}
dict1['superhero-3']='SpiderMan'
print("Updating key and value: ",dict1)

dict1 = {'superhero-1':'Batman','superhero-2':'Superman','superhero-3':'WonderWoman','superhero-4':'IronMan'}
dict1['superhero-5']='SpiderMan'
print("Adding key and value: ",dict1)

Updating key and value:  {'superhero-1': 'Batman', 'superhero-2': 'Superman', 'superhero-3': 'SpiderMan', 'superhero-4': 'IronMan'}
Adding key and value:  {'superhero-1': 'Batman', 'superhero-2': 'Superman', 'superhero-3': 'WonderWoman', 'superhero-4': 'IronMan', 'superhero-5': 'SpiderMan'}

#### Deletion of Values

In [63]:
dict1 = {'superhero-1':'Batman','superhero-2':'Superman','superhero-3':'WonderWoman','superhero-4':'IronMan'}
dict1.pop('superhero-4')
print("After pop: ",dict1)

dict1 = {'superhero-1':'Batman','superhero-2':'Superman','superhero-3':'WonderWoman','superhero-4':'IronMan'}
del dict1['superhero-4']
print("After delete: ",dict1)

After pop:  {'superhero-1': 'Batman', 'superhero-2': 'Superman', 'superhero-3': 'WonderWoman'}
After delete:  {'superhero-1': 'Batman', 'superhero-2': 'Superman', 'superhero-3': 'WonderWoman'}

#### Slicing of Dict

In [64]:
d = {1:2, 3:4, 5:6, 7:8}
first_two = dict(list(d.items())[:2])
first_two

{1: 2, 3: 4}

In [65]:
# the subset of keys I'm interested in
l = (1,5)

{key:d[key] for key in set(l) & set(d)}

{1: 2, 5: 6}

#### Dict Operations

In [66]:
# For all the keys(Alex, Max, Sam), the value is "Passed"
marks = {}.fromkeys(["Alex","Max","Sam"], "Passed")
marks

{'Alex': 'Passed', 'Max': 'Passed', 'Sam': 'Passed'}

#### Dictionary Comprehension

In [67]:
# Print the pairs who have values greater than 3
d = {1:2, 3:4, 5:6, 7:8}
newdict = {k:v for k, v in d.items() if v>3}
newdict

{3: 4, 5: 6, 7: 8}

### Takeaways:

Strings:
1. Define within ""
2. Slicing is possible
3. Strings are immutable (characters can't be modified)

Lists:
1. Define within []
2. Mutable
3. Lists are pointers
4. Supports Indexing, Deletion, Addition, Slicing, Sorting, Reversal and several other functions
5. List comprehensions are very useful to use

Tuples:
1. Defind within ()
2. Immutable.
3. Supports Indexing and Slicing.
4. Doesn't support Deletion or Addition.
5. Can change a value inside a tuple but if the value is in a list inside the tuple then we can change it. Eg: ([1,2],4,5)

Sets:
1. Define within {}
2. Mutable.
3. Indexing is not possible
4. Sets can't be used in Dictionaries but Frozen sets can be used as keys in Dictionaries since its immutable.
5. Similar like Tuples, Frozen sets don't support add or remove functions but others like union, intersection, difference, etc. is supported

Dictionaries:
1. Define within {}
2. Can be created from a list of tuples
3. Keys of a dict behaves like a pointer
4. Supports various functions like addition, deletion, modification, slicing, etc.
5. Dict comprehension is very important