In [ ]:
# importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.read_csv('people.csv')

In [ ]:
# importing the data
df=pd.read_csv(r'C:\Users\Dell\Documents\people.csv')

In [ ]:
# display top 5 records
df.head()

In [ ]:
df.timeSpent.company

In [ ]:
df.salary

In [ ]:
df.rename(columns = {'timeSpent.company':'timeSpent_company'}, inplace = True)

In [ ]:
df.head()

In [ ]:
# checking the shape of dataset (no of rows & no of cols)
df.shape

In [ ]:
# checking for duplicate values
df.duplicated().sum()

In [ ]:
df=df.drop_duplicates(keep="first")

In [ ]:
df.shape

In [ ]:
# to check the null value
df.isnull().sum()

Normality Test

Check whether the data is normally distributed or not in satisfactorylevel column using shapiro-wilk test

In [ ]:
# plotting histogram to visualize the distribution of data
plt.figure(figsize=(10,5))
plt.hist(df["satisfactoryLevel"])
plt.show()

In [ ]:
sns.distplot(df["satisfactoryLevel"])

In [ ]:
sns.kdeplot(x='satisfactoryLevel', data=df)

In [ ]:
# h0 - data is normally distributed
# h1 - data is not normally distributed

In [ ]:
from scipy.stats import shapiro

In [ ]:
stat,p_value=shapiro(df["satisfactoryLevel"])

In [ ]:
print(p_value)

In [ ]:
print(stat)

In [ ]:
# p value is less than 0.05 reject null hypothesis, data is not normally distributed

In [ ]:
# salary is categorical data
df["salary"].unique()

In [ ]:
df1=df

In [ ]:
# Converting the cat data into num, using Label Encoder 
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
df1["salary"]=l1.fit_transform(df1["salary"])  
 # fit()-> input the data
 # transform()->to apply the changes   
 # fit_transform()-> data will be inputted and necessary canges will be updated onto the object

In [ ]:
df1.head()

In [ ]:
df1.corr()

In [ ]:
df.head()

Correlation Graph

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df1.corr(),annot=True,cmap="coolwarm")

In [ ]:
# Descriptive statistics
df.describe()

In [ ]:
df.head()

In [ ]:
# Random experiment
emp=df[(df.satisfactoryLevel>=0)&(df.satisfactoryLevel<=0.50)&(df.timeSpent_company==2)&(df.avgMonthlyHours>=130)&(df.avgMonthlyHours<=200)]

In [ ]:
emp.head()

In [ ]:
emp["left"].value_counts()

In [ ]:
emp.shape

In [ ]:
emp["avgMonthlyHours"].mean()

T-test

In [ ]:
# t-test
# It is used to determine if there is a significant difference between the means of two groups

One sample t-test

In [ ]:
# One sample t-test - It tells us whether the means of the sample and the population are different or not

The average monthly hours of a employee having 2 years experience is 167. Is it same for employees having more than 2 years experience?

Condition - Satisfactory level of a employee is from 0-0.5 and AvgMonthlyhours is from 130-200

In [ ]:
employee=df[(df.satisfactoryLevel>=0)&(df.satisfactoryLevel<=0.50)&(df.timeSpent_company>=3)&(df.avgMonthlyHours>=130)&(df.avgMonthlyHours<=200)]

In [ ]:
employee.head()

In [ ]:
employee.shape

In [ ]:
# null hypothesis - avg monthly hours of a employee having 2 yrs exp and the employee more than that is same i.e, 167 hrs 
# alternate hypothesis - avg monthly hours of a employee having 2 yrs exp doesnot have same avg monthly hours with more than 2 yrs exp employee

In [ ]:
# selecting a random sample
sample_size= 100
sample1= employee.sample(sample_size,random_state=0)

In [ ]:
# population mean
pos_mean=167

In [ ]:
# sample mean
print(sample1["avgMonthlyHours"].mean())

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
statistics,pvalue=ttest_1samp(sample1["avgMonthlyHours"],pos_mean)
print(statistics,pvalue)

In [ ]:
# Degrees of freedom
n=len(employee["avgMonthlyHours"])
dof=n-1
print(n,dof)

In [ ]:
#df=99

In [ ]:
alpha=0.05

In [ ]:
from scipy.stats import t

In [ ]:
cv=t.ppf([alpha/2,1-alpha/2],df)
print(cv)

In [ ]:
# p value is less than 0.05
#reject null hypothesis,avg monthly hours is not 167 hours for employees having more than 2 yrs of exp

In [ ]:
# one sample z test for proportion

The percentage of employee leaving the company 
is 3% having experience of 2 years. Is it
 same for employees having more than 2
years experience?

In [ ]:
# Null hypothesis - percentage of employee leaving the company having the exp of 2 years is same as employee having exp more than 2 yrs
# Alternate hypothesis - percentage of employee leaving the company having the exp of 2 years is different from the employee having exp more than 2 yrs

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
sample_size=100

In [ ]:
sample1=employee.sample(sample_size,random_state=0)

In [ ]:
count=sample1["left"].value_counts()

In [ ]:
count

In [ ]:
nobs=len(sample1["left"])

In [ ]:
nobs

In [ ]:
p0=0.3

In [ ]:
sample1["left"].value_counts()/nobs

In [ ]:
statistic_oneprop,pvalue_oneprop=proportions_ztest(count=count,nobs=nobs,value=p0,alternative="two-sided",prop_var=False)

In [ ]:
print(statistic_oneprop,pvalue_oneprop)

In [ ]:
# p value is greater than 0.05 accept null hypothesis and reject alternate hypothesis 
# percentage of employee leaving the company having the exp of 2 years is same as employee having exp more than 2 yrs

In [ ]:
from scipy.stats import norm
cv_norm=norm.ppf([alpha/2,1-alpha/2])
print(cv_norm)

Two sample t-test

In [ ]:
# Two sample test for means - compared the means of a two independent groups

In [ ]:
df1.head()

In [ ]:
df1["timeSpent_company"].unique()

Is the mean avg monthly hours of a employee having experience of 2-5 yrs is the same as that for employee having exp 6 - 10 yrs ?

In [ ]:
# checking the variance of both

In [ ]:
e1=df1[(df1.timeSpent_company>=2) & (df1.timeSpent_company<=5)]
e2=df1[(df1.timeSpent_company>=6) & (df1.timeSpent_company<=10)]

In [ ]:
e1.head()

In [ ]:
e1.shape

In [ ]:
e2.head()

In [ ]:
e2.shape

In [ ]:
s1=e1.sample(200,random_state=0)
s2=e2.sample(200,random_state=0)

In [ ]:
 import scipy

In [ ]:
scipy.stats.ttest_ind(s1["avgMonthlyHours"],s2["avgMonthlyHours"])

In [ ]:
# p value > 0.05 Hence accept null hypothesis
# The mean avg monthly hours of a employee having experience of 2-5 yrs is the same as that for employee having exp 6 - 10 yrs

 F-statistics

Compute the f-statistics of the previous problem statement

In [ ]:
# F-test for variance is used to test if the variances of two populations are equal.

In [ ]:
# Sample Variance 
print(s1.avgMonthlyHours.var())
print(s2.avgMonthlyHours.var())

In [ ]:
# Sample mean
print(s1.avgMonthlyHours.mean())
print(s2.avgMonthlyHours.mean())

In [ ]:
# Degrees offreedom for sample
df1=len(s1)-1
df2=len(s2)-1

In [ ]:
# Computing f statistic
from scipy.stats import f
F=s1.avgMonthlyHours.var()/s2.avgMonthlyHours.var()
print(F)

In [ ]:
import scipy.stats

In [ ]:
scipy.stats.f.cdf(F, df1, df2)

In [ ]:
f.ppf([alpha/2,1-alpha/2],df1, df2)

In [ ]:
# p value is >0.15, accept null hypothesis, equal variances