In [2]:
a,b,c = 10,20,50
result = (a+b)//c
print(result)
print("The result is {}".format(c))

0
The result is 50

In [3]:
a = 10
b = 20
c = a**2
d = b**2
result = d-c
result -= 100
print(result)

200

In [4]:
a = 10
b = 20
print(a>b)

False

In [5]:
a = 10
b = 10.0
print(a is not b)

True

In [6]:
a = [10]
b = {10, 20}
print(a[0] in b)

True

In [7]:
a = 10
b = 20
print(a > 5 & b > 15)

False

In [8]:
a = 10
b = 20
print(a > 5 or b > 15)

True

In [11]:
a = [1,2,3,4,5]
b = [2,3,4,5,6]
print(a[-1],"and",b[len(b)-1])

5 and 6

In [12]:
a = list(range(0, 10, 2))
print(a[::-1])

[8, 6, 4, 2, 0]

In [13]:
a = [[29, 'Rajesh'],[32, 'Ramesh'],[41, 'Dev']]
b = dict(a)
print(b.keys())

dict_keys([29, 32, 41])

In [14]:
a = {1: "Rajesh", 2: "Ramesh", 3: "Dev"}

b = list(a)

print(b[0])

1

In [16]:
a = tuple(range(0,5))
print(a)
print(a.index(4))

(0, 1, 2, 3, 4)
4

In [17]:
a = tuple(range(0,10,2))

a[4] = 6

print(a[4])

TypeError: ignored

In [18]:
a = {1,1,2,2,3,3,4,4,5,5}

print(a)

{1, 2, 3, 4, 5}

In [19]:
a = {1,2,3,4,5}

a.add(6)

print(a)

{1, 2, 3, 4, 5, 6}

In [21]:
A = 10

B = 20

if A > 5 & B > 15:

  print("One")

elif A < 5 & B < 15:

  print("Two")

else:

  print("None")

None

In [23]:
A = 2

B = 10

if A > 0 and B%A==0:

  print("One", end=",")

elif B > 5 and B%2 == 1:

  print("Two", end=" ")

else:

  pass

One,

In [24]:
A = 2

B = 3

print('Greater') if A//B==0 else print("Equal") if A//B==1 else print("Smaller")

Greater

In [26]:
X = 10

if X >= 0:

  if X == 0:

    print('None')

elif X //2 == 1:

  print('Two')

elif X**2 ==100:

  if X%2 == 0:

    print("Three")

else:

  print("Four")

else:

print("Five")

else:

print("Six")

SyntaxError: ignored

In [36]:
i=5

while i>0:

  for i in range(0,3):

    if i > 1:
      i = i - 2
  print(i)

else:
    i = i - 1

0

In [38]:
a = 0

b = 1

i = 1

while i < 5:

  temp = a + b

a = b

b = temp

print(temp, end=" ")

i = i + 1

KeyboardInterrupt: ignored

In [31]:
a = list(range(0,3))

b = []

for x in a:

  for j in range(len(a)-1, 0, -1):

    b.append(a[j])

print(b)

[2, 1, 2, 1, 2, 1]

In [39]:
i = 9

while i > 5:
  if i%2 == 0:

    i = i**2

    print(i)

else:

  i = i**0.5

  print(i)

KeyboardInterrupt: ignored

In [42]:
def func(self):

  if self%2==0:

    return None

func(10)

In [43]:
def func(*self):

  for i in self:

    if i in list(range(0,100,10)):

      print("True", end=",")

  else:

    print("False")

func(10,15)

True,False

In [44]:
def func(**self):

  for i in self.values():

    if i%2 == 0 and i%3 == 0 in list(range(0,10)):

      print("True", end=" ")

    else:

      print("False", end=" ")

func(first= 10, second= 20)

False False

In [45]:
y = lambda a,b: a//2 + b//2 - 2//a//b

y(12,4)

8

In [46]:
sample = [12,22,32,42,52]

x = map(lambda a: a//10, sample)

print(list(x))

[1, 2, 3, 4, 5]

In [48]:
def func(self):

  if self % 2 == 1:

    return False

  else:

    return True

sample= [12,24,23,3,5,2]

z = filter(func, sample)

print(list(z))

[12, 24, 2]

In [49]:
def func(x, y, z):

  for i in x:

    for j in y:

      print(i, end="")

      print(j, end="")

  return None

a = [1,2,3]

b = [3]

c = [5,6,7]

func(a,b,c)

132333

In [50]:
x = lambda x,y,z: x**y + z**x + y**x//z

x(1,1,3)

4

In [51]:
class Myclass:

  def __init__(self):

    self.string = "Intellipaat"

    self.number = 2022

obj = Myclass()

print(obj.number, obj.string)

2022 Intellipaat

In [55]:
class Myclass:

  def __init__(self):

    self.string = "Conor"

    self.number = 20

  def view(self):

    print(self.string[::-1], self.number//6)

    obj = Myclass()

    obj.view()

In [56]:
class myClass:

  def __init__(self, name, age):

    self.name = name

    self.age = age

  def view(self):

    print([self.name, self.age])

class myclass:

  def __init__(self, name, age):

    self.name = name

    self.age = age

  def view(self):

    print([self.name, self.age])

obj1 = myClass("Devon", 29)

obj2 = myclass("Levi", 28)

print([obj1.name, obj2.age])

['Devon', 28]

In [57]:
class Name:

  def view(self):

    self.name = "Rajesh"

class Age:

  def view(self):

    self.age = 29

class Profession:

  def view(self):

    self.profession = "Teacher"

obj1 = Name()

obj2 = Age()

obj3 = Profession()

print(obj1.view(), obj2.view(), obj1.view())

None None None

In [58]:
class Base:

  def __init__(self):

    self.name = "Ricky"

    self.age = 23

class Derived(Base):

  def __init__(self):

    super().__init__()

    self.profession = "Cricketer"

  def view(self):

    print(self.name, self.age, self.profession)

obj = Derived()

obj.view()

Ricky 23 Cricketer

In [59]:
from abc import ABC, abstractmethod

class School(ABC):

  def __init__(self):

    self.name = "Levi"

    self.age = 29

obj = School()

obj.name

'Levi'

In [60]:
class Poly:

  def method(self, a, b):

    return (a**b)

  def method(self, a, b,c):

    return (a*b*c)

    obj = Poly()

    obj.method(3,2)

TypeError: ignored

In [61]:
class Parent:

  def __init__(self):

    self._name = "Levi"

    self.__age = 29

class Child(Parent):

  def __init__(self):

    Parent.__init__(self)

    self._name = "Devon"

  def view(self):

    return self._name

obj = Child()

obj.view()

'Devon'

In [62]:
class Parent:

  def __init__(self):

    self._name = "Levi"

    self.__age = 29

class Child(Parent):

  def __init__(self):

    Parent.__init__(self)

    self._name = "Devon"

    self.__age = 28

  def view(self):

    return self.__age

obj = Child()

obj.view()

28

In [63]:
class Parent:

  def __init__(self):

    self._name = "Rajesh"

    self.__age = 29

class Child(Parent):

  def __init__(self):

    Parent.__init__(self)

    self._name = "Ramesh"

  def view(self):

    return self.__age

obj = Child()

obj.view()

AttributeError: ignored

In [65]:
class Poly:

  def __init__(self):

    self.name = 'Rajesh'

    self.age = 29

  def view(self):

    return None

class Child(Poly):

  def __init__(self):

    Poly.__init__(self)

  def view(self):

    self.prof = "Student"

    super().view()

    return None

obj = Poly()

obj.view()

In [66]:
class Poly:

  def __init__(self):

    self.name = 'Devon'

    self.age = 29

  def view(self):

    print(self.name)

class Child(Poly):

  def __init__(self):

    Poly.__init__(self)

  def view(self):

    self.prof = "Levi"

    super().view()

    return None

obj = Child()

obj.view()

Devon

In [67]:
from multipledispatch import dispatch

class Poly:

  @dispatch(int, int)

  def method(self, a, b):

    return (a**b)

  @dispatch(int, int, int)

  def method(self, a, b,c):

    return (a*b*c)

obj = Poly()

obj.method(4,2)

16